#addPostModal {
	@fontsize: 20px;
	
	.iheart {
		background: url("../images/i-heart-s.png") no-repeat;
		display: block;
		height: 32px;
		margin: 2px auto;
		width: 58px;
	}
	
	#addPostForm {
		margin: 0;
		
		#id_content {
			font-size: @fontsize;
			font-weight: bold;
			height: @fontsize + 5;
			line-height: @fontsize;
			margin: 0;
			width: 90%;
		}
	}
	
	.modal-body {
		.row-fluid {
			margin: 20px 0;
			
			#file_upload {
				margin: 0;
			}
		}
	}
}

.uploadify-button, .uploadify:hover .uploadify-button {
	background-color: #000;
	background-image: none;
	border: none;
}
.uploadify:hover .uploadify-button {
	color: #c4c4c4;
}

#posts {
	.ListStyle {
		list-style: none;
		margin: 0;
	}
	
	.FloatLeft {
		float: left;
	}
	
	.FloatRight {
		float: right;
	}
	
	.ClearFloat {
		clear: both;
	}
	
	.ListStyle;
	
	.post {
		margin-bottom: 20px;
		
		.post-texts {
			margin-bottom: 10px;
			
			.post-iheart {
				background: url("../images/post-iheart.png") no-repeat;
				display: inline-block;
				height: 32px;
				width: 59px;
			}
			
			.post-content {
				@fontsize: 30px;
				
				font-size: @fontsize;
				font-weight: bold;
				line-height: @fontsize;
			}
		}
		
		.post-images {
			.ListStyle;
			.FloatLeft;
			
			.post-image {
				.FloatLeft;
				
				margin-left: 5px;
				
				&:first-child {
					margin-left: 0;
				}
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.clear {
		.ClearFloat;
	}
}