{% extends "base.html" %}

{% block head_extras %}
	{% load staticfiles %}
	<!-- Bootstrap Carousel -->
	<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-carousel.js' %}"></script>
	<!-- Bootstrap Carousel -->
	
	<!-- Jcrop CSS -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/jcrop/jquery.jcrop.css' %}" />
	<!-- Jcrop CSS -->
	
	<!-- Jcrop JS -->
	<script type="text/javascript" src="{% static 'js/jcrop/jquery.jcrop.js' %}"></script>
	<!-- Jcrop JS -->
	
	<script type="text/javascript">
	$(function() {
		$('.carousel').carousel();
		
		function onSelect(c) {
			console.log(c);
		}
		
		$('.uploaded-photo').Jcrop({
			onSelect: onSelect
		});
	}); 
	</script>
{% endblock head_extras %}

{% block content %}
	<div class="carousel slide" id="myCarousel">
		<a data-slide="prev" href="#myCarousel" class="left carousel-control top" onclick="javascript: return false;" >‹</a>
		<a data-slide="next" href="#myCarousel" class="right carousel-control top" onclick="javascript: return false;">›</a>
		<div class="carousel-inner">
			{% for photo in image_list %}
			<div class="item {% if forloop.counter == 1 %}active{% endif %}">
				<img src="{{ photo.image.url }}" class="uploaded-photo" />
			</div>
			{% endfor %}
		</div>
		<a data-slide="prev" href="#myCarousel" class="left carousel-control" onclick="javascript: return false;" >‹</a>
		<a data-slide="next" href="#myCarousel" class="right carousel-control" onclick="javascript: return false;">›</a>
	</div>
{% endblock content %}