{% extends "base.html" %}

{% block body %}
<div class="row-fluid show-grid">
	<div id="content" class="span8">
		<p>You have successfully logged out.</p>
	</div>
	<div id="sidebar" class="span4">
		<!-- Facebook login button -->
		<div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1">Login with Facebook</div>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div>
{% endblock %}
