{% extends "base.html" %}

{% block content %}
	<div class="row-fluid">
		<div class="span8">
			<img alt="" src="{{ photo.image.url }}" alt="{{ photo.title }}" />
		</div>
		<div class="span4">
			<form method="post">
				<div>
					{{ form.title }}
					{% for error in form.title.errors %}
						<p class="alert alert-error">{{ error }}</p>
					{% endfor %}
				</div>
				<div>
					{{ form.description }}
					{% for error in form.description.errors %}
						<p class="alert alert-error">{{ error }}</p>
					{% endfor %}
				</div>
				<div>
					<input type="submit" value="SAVE" class="btn btn-large btn-primary" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
{% endblock content %}