{% extends "base.html" %}

{% block head_extras %}
{% load staticfiles %}
<script type="text/javascript">
$(function() {
	$('#file_upload').uploadify({
		'swf'             : "{% static 'images/uploadify.swf' %}",
		'uploader'        : "{% url uploader_fileupload %}",
		'fileTypeExts'    : '*.gif; *.jpg; *.png',
		'fileTypeDesc'    : 'Image Files',
		'onQueueComplete' : function(queueData) {
			console.log(queueData);
		}
	});
}); 
</script>
{% endblock head_extras %}

{% block content %}
<input type="file" name="file_upload" id="file_upload" />
{% endblock content %}